body {
    font-family: Arial, sans-serif;
    margin: 0 20px;
    background-color: #f4f4f4;
}

.character-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 280px;
}

.character {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.character-card img,
.character img {
    width: 100%;
    max-width: 300px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.links a {
    margin-right: 10px;
}

#character-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#search-bar {
    height: 32px;
    width: 280px;
    outline: none;
    border: 1px solid #afaff0;
    border-radius: 6px;
    padding: 0 0 0 10px;
    margin: 10px 0;
}
#search-container{
    display: flex;
    justify-content: space-between;
}


/* Favourite super hero page styling starts here */


.container {
    width: 100%;
    /* max-width: 500px; */
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f9f9f9;
}

button {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background: #c0392b;
}

#new-superhero {
    width: calc(100% - 120px);
    padding: 10px;
    margin-right: 10px;
}

#add-superhero {
    background: #27ae60;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#add-superhero:hover {
    background: #2ecc71;
}


/* Favourite super hero page styling end here */